body
{
    margin: 0;
    padding: 0;
    background:url("bg.jpg");
    font-family: sans-serif;
    background-size: cover;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    background: royalblue;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .6);
    border: 2px solid rgba(0, 0, 0, 0.5);
}
.box .content{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid #ffffff;
    text-align: center;
}
.box .content h1{
    color:#ffffff;
    font-size: 30px;
    margin: 0 0 10px;
    padding: 10px;
}
.box .content p{
    color: #ffffff;

}
.box svg,
.box svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;

}
.box svg rect{
    stroke: yellow;
    stroke-width: 4;
    stroke-dasharray: 400;
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        stroke-dashoffset: 800;
    }
    100%{
        stroke-dashoffset: 0;
    }
}